@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(141, 53, 173);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodosWrapper {
  background: #1A1A40;
  margin-top: 4rem;
  padding: 4rem;
  border-radius: 5px;
}

.tareasForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border-radius: 3px;
  border: 2px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  width: 450px;
  color: #ffffff;
}

.tareasInput::placeholder {
  color: #ffffff4d;
}

.tarea-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.5rem 5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-left: 12.7rem;
  margin-top: -115px;
  
  cursor: pointer;
}


.fecha-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.75rem 11.2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  
  
}

.Todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.trash {
  margin-left: 0.75rem;
  color: #ffffff;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.pen{
  margin-left: 0.75rem;
  color: #f1f1f1;
}
 
